.smoke {
    position: relative;
    margin-top: -500px;
    z-index: 100;
}

.video {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

@media (max-width: 1200px) {
    .smoke {
        display: none;
    }
}
